<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stypesheet" type ="text/css" media="all"
		th:href="@{/css/style.css}"/>
		
<title>NSIU</title>
</head>
<body>
<h1>View Course Enrolment</h1>
<table>
<tr>
	<th>Course Name</th>
	<th>Course Size</th>
	<th>Course Credits</th>
	<th>Course Duration</th>
</tr>
<tr th:each="course:${allCourses}">
	<td th:text=${course.course_name}>Default Name</td>
	<td th:text=${course.class_size}>Default Size</td>
	<td th:text=${course.credits}>Default Credits</td>
	<td th:text=${course.duration}>Default Duration</td>
	<td><a href="DetailedCourseEnrolment.html"
		th:href="@{/courseenrolment/studentlist}"> More Details </a></td>
</tr>
</table>
</body>
</html>